$darkGrey: #343a40; // navigation color
$lightGrey: rgba(255,255,255,.5); // nav links color

// makes the headers in all caps
h1 {
  text-align: center;
  text-transform: uppercase;
}

// Controls the color of the links on the page
// Makes the "home" button color white so user's can see it's the page they're currently on
// Makes the link white on hover
@mixin linkColor($color: #fff) {
  & a:hover {
    color: $color;
  }
  & .active {
    color: $color;
  }
}

// navigation bar
nav {
  @include linkColor;
  background-color: $darkGrey;

  & ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin: 0;
  }

  // styles navigation text in navbar
  & a {
    text-decoration: none;
    color: $lightGrey;
    font-weight: 900;
  }
}

main {
  margin: 20px;
}

// Featured companies page css
// centers the company images and makes images a bit smaller on computer screen
.company-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  @include media-query(tab) {
    width: 70%;
  }
}

.card {
  margin-bottom: 2rem;
}

// centers the bullet points in the Bootstrap card
.card-body {
  & ul {
    display: table;
    margin: 0 auto;
    padding-bottom: 10px;
  }

  & ul li {
    text-align: left;
  }
}
// End of featured companies page css
