// Colors
$white: #fff;
$darkGrey: #343a40; // navigation and footer color
$lightGrey: rgba(255,255,255,.5); // footer links color
$darkBlue: #213343; // sidebar background
$green: rgb(0, 189, 165); // main background
$whiteish: #F7F7F7; // company links background

$companyLinksPadding: 20px;