// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';

// grid
.grid-container {
  display: grid;
  grid-template-areas: 
  'header header header header header header'
  'nav nav nav nav nav nav'
  'side side main main main main'
  'section section section section section section'
  'footer footer footer footer footer footer';
  grid-template-columns: repeat(6, 1fr);
  @include media-query(mobile) {
    grid-template-areas: 
    'header header header header header header'
    'nav nav nav nav nav nav'
    'main main main main main main'
    'side side side side side side'
    'section section section section section section'
    'footer footer footer footer footer footer';
  }
}

// page header
header {
  grid-area: header;
  color: $white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://dl2.pushbulletusercontent.com/39oo9XxNhIxmAiJYaY9ECjkESjbX7lB7/20190317_202843.jpg");
  background-size: 100%;

  & h1 {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
  }

  // animated header text
  & p {
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    animation: slideIn 1s ease-out 0s 1;
  }
}

// Makes the header text slide in from the left on page load.
// Source: https://stackoverflow.com/questions/6805482/css3-transition-animation-on-load
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

// Controls the color of the links on the page
// Makes the "home" button color white so user's can see it's the page they're currently on
// Makes the link white on hover
@mixin linkColor($color: #fff) {
  & a:hover {
    color: $color;
  }
  & .active {
    color: $color;
  }
}

// navigation bar
.nav {
  @include linkColor;
  grid-area: nav;
  background-color: $darkGrey;

  & ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
}

// styles navigation text in navbar and footer 
nav a {
  text-decoration: none;
  color: $lightGrey;
  font-weight: 900;
}

// Styles the side bar 
.sidebar {
  grid-area: side;
  background-color: $darkBlue;
  color: $white;
  padding: 20px;
}

h2 {
  text-align: center;
}

// styles the main content of the page. api should fill this out
.main-content {
  grid-area: main;
  padding: 20px;
}

// Makes the phone company links sit next to eachother
.company-links {
  grid-area: section;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  padding-top: $companyLinksPadding;
  padding-bottom: $companyLinksPadding;
  background-color: $whiteish;
}

// Transition and transform from ThoughtBot.com https://thoughtbot.com/blog/transitions-and-transforms
.company-links img {
  margin: 20px;
  height: 76.8px;
  min-width: 72px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
  transition: transform 0.7s;

  // Makes the links grow bigger when you hover the mouse over them
  &:hover {
  transform: scale(1.4);
  }
}

// Page footer
footer {
  @include linkColor;
  grid-area: footer;
  padding: 30px;
  text-align: center;
  background-color: $darkGrey;
  color: $lightGrey;

  & nav {
    padding: 20px;
  }
  & p {
    margin: 0;
  }
}

